* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #00D4FF;
	font-family: arial;
}

.section-div {
	width: 500px;
	background-color: #fff;
	border-radius: 8px;
	margin: 50px auto;
	box-shadow: 0px 5px 15px #3339;
}

.post-hader {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px 15px 20px;
}
.profile-images {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #333;
	border-radius: 50%;
}
.profile-images img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.online_offline_icon {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #31A24C;
	border: 2px solid #fff;
}

.post-hader h1 {
	font-size: 18px;
	font-weight: 500;
    margin-left: 60px;
    margin-top: -42px;
}
.post-hader h1 a {
	color: #000;
	text-decoration: none;
}.post-hader h1 a:hover {
	text-decoration: underline;
	transition: 0.2s;
}
.post-hader p {
	font-size: 14px;
	font-weight: 500;
	color: #3339;
    margin-left: 60px;
    margin-top: 0px;
}
.post-hader p a {
	color: #000;
	text-decoration: none;
}
.post-hader p a:hover {
	text-decoration: underline;
	transition: 0.2s;
}
.icon-public {
	position: relative;
	font-size: 12px;
	margin-left: 5px;
}
.icon-public span {
	cursor: pointer;
}

.three-dot {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	color: #333;
	cursor: pointer;
}
.three-dot:hover {
	background-color: #F2F2F2;
	transition: 0.2s;
}
.post-text {
	padding: 5px 20px 13px 20px;
}
.post-images {
	width: 100%;
}
.post-images img {
	width: 100%;
}

.post-react-show {
	position: relative;
	width: 100%;
	height: 40px;
	margin: 10px 20px 0px 20px;
	box-sizing: border-box;
}
.like-count-and-icon {
	width: 60%;
	display: inline-block;
}
.like-count-and-icon ul {
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 6px;
	margin-top: 4px;
}
.like-count-and-icon ul li {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-left: -6px;
	background-color: #3335;
}
.like-count-and-icon ul li img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
}
.like-count-div {
	position: absolute;
	font-size: 18px;
	margin-top: 1px;
	margin-left: 12px;
	display: inline-block;
}
.like-count-div a {
	color: #333333ba;
	text-decoration: none;
	transition: 0.2s;
}
.like-count-div a:hover {
	text-decoration: underline;
}
.comment-and-share-count {
	position: absolute;
	width: 40%;
	text-align: right;
	display: inline-block;
	top: 30%;
	transform: translateY(-30%);
	right: 40px;
}
.comment-and-share-count ul {
	padding: 0px;
	margin-bottom: 0px;
}
.comment-and-share-count ul li {
	display: inline-block;
	font-size: 14px;
	padding: 0px 5px;
	cursor: pointer;
	color: #333333ba;
	text-decoration: none;
	transition: 0.2s;
}
.comment-and-share-count ul li:hover {
	text-decoration: underline;
}

.button-site {
	width: 92%;
	height: 45px;
	margin: auto;
	padding: 5px 0px;
	border-top: 1px solid #3335;
}
.like-btn, .comment-btn, .share-btn {
	width: 33.33%;
	height: 100%;
	border-radius: 5px;
    /*padding: 10px 45px;*/
    box-sizing: border-box;
    cursor: pointer;
	float: left;
}
.share-btn2 {
	width: 33.33%;
	height: 100%;
	padding: 10px 40px;
	border-radius: 5px;
    /*padding: 10px 45px;*/
    box-sizing: border-box;
    cursor: pointer;
	float: left;
}
.share-btn2 .share-pose {
	width: 30px;
	height: 24px;
	overflow: hidden;
	float: left;
}
.like-btn .icon-match, .comment-pose, .share-pose {
	width: 30px;
	height: 24px;
	overflow: hidden;
	float: left;
}
.like-btn .icon-match img {
	margin-top: -257px;
	width: 101%;
}
.like-center-div, 
.comment-center-div,
.share-center-div {
	text-align: center;
}
.like-center-div span,
.comment-center-div span,
.share-center-div span {
	margin-top: 4px;
	float: left;
}
.comment-btn {}
.share-btn {}

.like-btn:hover, .comment-btn:hover, .share-btn:hover {
	background-color: #3332;   
	transition: 0.2s;
}

.darkBTN-img img {
	margin-top: -233px !important;
	width: 101% !important;
}

.darkBTN {
	display: none;
}
.liteBTN {
	/*display: none;*/
}

.comment-btn {
	padding: 10px 25px !important;
}
.share-btn {
	padding: 10px 40px !important;
}
.comment-pose img {
	margin-top: -210px !important;
	width: 101%;
}
.share-pose img {
	margin-top: -279px !important;
	width: 101%;
}

/*.like-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}*/
.love-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}
/*.wow-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}*/
.sad-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}
.haha-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}
.angry-count-icon {
	width: 0px !important;
	height: 0px !important;
	visibility: hidden;
}



.comment-input-aria {
	width: 92%;
	height: 45px;
	margin: auto;
	border-top: 1px solid #3335;
	padding-top: 7px;
	display: none;
}
.comment-PI {
	width: 37px;
	height: 37px;
}
.o_F-CPI {
	width: 10px;
	height: 10px;
}
.input-comment-div {
	position: relative;
	width: 91%;
	border-radius: 30px;
	background-color: #F0F2F5;
	margin-top: -37px;
	margin-left: 45px;
}
.input-comment-div input {
	width: 65%;
	padding: 10px 10px;
	font-size: 15px;
	color: #333;
	border: none;
	outline: none;
	border-radius: 30px;
	background-color: #fff0;
}

.input-comment-div ul {
	padding: 0px;
	margin-bottom: 0px;
	text-align: right;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}
.input-comment-div ul li {
	display: inline-block;
	border-radius: 50%; 
	padding: 2.5px 0px;
	transition: 0.2s;
	cursor: pointer;
}
.input-comment-div ul li:hover {
	background-color: #3333;
}
.div-size {
	width: 25px;
	height: 20px;
	overflow: hidden;
}
.fii img {
	width: 110%;
	margin-top: -442px;
	margin-left: 4px;
}
.cii img {
	width: 115%;
	margin-top: -384px;
	margin-left: 3px;
}
.gii img {
	width: 115%;
	margin-top: -482px;
	margin-left: 4px;
}
.sii img {
	width: 115%;
	margin-top: -500px;
	margin-left: 3px;
}


.like-btn {
	position: relative;
}
.hover-window-like {
	position: absolute;
	top: -49px;
	left: 0;
	width: 233px;
	padding: 5px;
	border-radius: 30px;
	border: 2px solid #3335;
	background-color: #fff;
	transition: 0.3s;
	display: none;
}
.hover-window-like ul {
	padding: 0px;
	margin-bottom: 0px;
}
.hover-window-like ul li {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.hover-window-like ul li img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 0.3s;
	transform: scale(1.5);
}
.hover-window-like ul li img:hover {
	transform: scale(2);
}



.all-comment-show {
	width: 92%;
	margin: auto;
	border-top: 1px solid #3335;
	display: none;
}
.hader-comment-div {
	position: relative;
	width: 100%;
	height: 30px;
}

.comment-count-show {
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	color: #65676b;
	cursor: pointer;
}
.comment-count-filter {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	color: #65676b;
	cursor: pointer;
}
.comment-count-show:hover , .comment-count-filter:hover {
	text-decoration: underline;
}


.comment-output {
	width: 70%;
	padding: 5px 5px;
	display: inline-block;
}
.comment-show {
	position: relative;
	width: 70%;
	padding: 5px 5px;
	border-radius: 20px;
	background: #F0F2F5;   
	margin-left: 50px;
    margin-top: -35px;
}
.comment-show h1 {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 10px;
}
.comment-show h1 a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
}
.comment-show h1 a:hover {
	text-decoration: underline;
}
.comment-show p {
	font-size: 14px;
	margin: 5px 10px 5px 10px;
	color: #333;
}

.comment-list-btn {
	position: relative;
	width: 70%;
	margin-left: 63px;
}
.comment-list-btn ul {
	padding: 0px;
	margin-bottom: 0px;
}
.comment-list-btn ul li {
	display: inline-block;
	padding: 2px 2px;
	font-size: 12px;
	cursor: pointer;
	font-weight: 600;
	color: #333;
}
.comment-uplode-time {
	font-weight: 500 !important;
	color: #3339;
}
.comment-list-btn ul li:hover {
	text-decoration: underline;
}
.comm-td {
	right: -40px;
	display: none;
	transition: 0.2s;
}
.comment-output:hover .comm-td {
	display: block;
}

.like-btn:hover .hover-window-like {
	display: block;
}
.comment-like-btn {
	position: relative;
}
.comment-like-btn .hover-window-like {
	width: 251px;
	left: -20px;
	top: -55px;
}
.comment-like-btn:hover .hover-window-like {
	display: block;
}
.comment-count-icon {
	position: absolute;
	top: 50%;
	right: -100px;
	transform: translateY(-50%);
}
.comment-count-icon ul li {
	width: 15px;
	height: 15px;
	margin-left: -8px;
}
.comment-count-icon ul .like-count-div {
	font-size: 14px;
	margin-left: 5px;
}
.comment-count-icon ul li {
	background-color: #fff0;
}


.profile-name-hover {
	position: absolute;
	top: 38px;
	left: -15%;
	width: 320px;
	padding: 15px 15px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #3335;
	transition: 0.3s;
	z-index: 2;
	display: none;
}
.profile-name-hover .profile-images {
	width: 60px;
	height: 60px;
}
.profile-name-hover h2 {
	font-size: 18px;
	margin-left: 70px;
	margin-top: -40px;
}
.profile-name-hover p {
	font-size: 16px;
	margin-left: 70px;
	margin-top: 15px;
}
.profile-name-hover p span {
	color: #616771;
}
.pn-hover-icon {
	font-size: 20px;
	margin-right: 5px;
}

.profile-name-hover ul {
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
	margin-top: 15px;
}
.profile-name-hover ul li {
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 35px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}
.profile-name-hover ul li i {
	font-size: 16px;
	margin-right: 3px;
}

.add-storry-btn {
	width: 38%;
	height: 35px;
	background-color: #1877F2;
}
.edit-profile-btn {
	width: 38%;
	height: 35px;
	background-color: #E4E6EB;
} 
.three-dot-btn {
	width: 18%;
	height: 35px;
	background-color: #E4E6EB;
}
.add-storry-btn:hover {
	background-color: #1771E6;
}
.edit-profile-btn, .three-dot-btn {
	color: #333 !important;
}
.edit-profile-btn:hover, .three-dot-btn:hover {
	background-color: #D8DADF;
}

.profile-name-text:hover .profile-name-hover {
	display: block;
}




.display_block {
	display: block;
}
.display_none {
	display: none;
}

.Icon-Hover_Filter,
.uplode-Date_Hover {
	position: absolute;
	top: 13px;
	left: -38px;
	width: 100px;
	height: 35px;
	background-color: #333333bd;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 35px;
	color: #fff;
	transition: 0.3s;
	display: none;
}
.Post_upload_date {
	position: relative;
}
.uplode-Date_Hover {
	width: 290px;
	top: 25px;
	left: -70px;
}
.icon-public:hover .Icon-Hover_Filter {
	display: block;
}
.Post_upload_date:hover .uplode-Date_Hover  {
	display: block;
}


.IP_Click-Icon {
	position: absolute;
	z-index: 3;
	width: 450px;
	left: 22px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #3337;
	border-radius: 10px;
	display: none;
}
.ipc-hader {
	position: relative;
	padding: 15px 0px;
	border-bottom: 1px solid #3333;
}
.ipc-hader h3 {
	text-align: center;
	font-size: 18px;
	color: #333;
}
.ipc-hader span {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #E4E6EB;
	text-align: center;
	line-height: 35px;
	color: #333;
	transition: 0.3s;
	cursor: pointer;
}
.ipc-hader span:hover {
	background-color: #D8DADF;
}

.scroll-div-public {
	width: 100%;
	height: 360px;
	z-index: 3 !important;
	background-color: #fff;
	border-radius: 10px;
	overflow-y: scroll;
}
.scroll-div-public ul {
	padding: 10px 0px;
	margin-bottom: 0px;
}
.scroll-div-public ul li {
	position: relative;
	list-style: none;
	padding: 8px 10px;
	border-radius: 5px;
	margin: 1px 8px; 
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s;
}
.scroll-div-public ul li:hover {
	background-color: #F2F2F2;
}
.scroll-div-public ul li span {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #E4E6EB;
	font-size: 22px;
	text-align: center;
	line-height: 55px;
	color: #333;
	transition: 0.3s;
}
.scroll-div-public ul li:hover span {
	background-color: #D8DADF;
}
.scroll-div-public ul li h2 {
	font-size: 16px;
	margin-left: 70px;
	margin-top: -45px;
	padding-bottom: 2px;
	font-weight: 600;
	color: #333;
}
.scroll-div-public ul li p {
	font-size: 14px;
	margin-left: 70px;
	margin-top: 0px;
	padding-bottom: 7px;
	color: #3339;
}
.active-div-design {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid #3339;
	transition: 0.3s;
}
.scroll-div-public ul li:hover .active-div-design {
	border: 1px solid #333;
}
.a-d_d-in {
	width: 12px;
	height: 12px;
	margin: auto;
	margin-top: 3.8px;
	border-radius: 50%;
	background-color: #0571ED;
	display: none;
	transition: 0.3s;
}
.active-icon-design {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transition: 0.3s;
}
.active-icon-design i {
	margin-left: 7px;
	font-size: 22px;
	color: #3339;
	transition: 0.3s;
}
.scroll-div-public ul li:hover .active-icon-design i {
	color: #333;
}
.scroll-div-public ul li .only-me {
	margin-top: -35px;
	padding-bottom: 17px;
}


#lID_Select_Border {
	border-color: #0571ED;
}
.icon-select {
	display: block;
}
#only_ME-Icon-Div {
	background-color: #EAF3FF;
}

.like-lite,
.like-dark {
	padding: 12px 30px;
	text-align: center;
	font-size: 19px;
}
.like-dark {
	display: none;
	color: #0571ED;
}


.three-dot-div {
	position: absolute;
	top: 50px;
	right: 20px;
	padding: 5px 5px;
	width: 285px;
	box-shadow: 0px 0px 10px #3335;
	background-color: #fff;
	border-radius: 10px;
	z-index: 2;
	display: none;  
}
.three-dot-div ul {
	padding: 0px;
	margin-bottom: 0px;
}
.three-dot-div ul li {
	list-style: none;
	padding: 10px 10px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s;
}
.three-dot-div ul li:hover {
	background-color: #3332;
}
.three-dot-div ul li i {
	margin-right: 5px;
	color: #000000c7;
}
.three-dot-div ul li p {
	text-align: left;
	font-size: 12px;
	color: #00000091 !important;
	margin-left: 20px;
	margin-top: 5px;
}
.list-hr-three-dot {
	border-top: 1px solid #8e8e8e55;
	margin: 5px;
}
.share-btn-li {
	position: relative;
}
.share-btn-div {
	/*display: block;*/
	position: absolute;
	top: 235px;
    right: -122px;
}
.share-btn2 {
	display: none;
}
#three-dot-btn-click2 {
	display: block;
}